/*.board{
    position: absolute;
    top: 10%;
    padding: 50px;
    width: 700px;
    border-radius: 12px;
    -webkit-box-shadow: 9px 8px 15px 5px #333131; 
    box-shadow: 9px 8px 15px 5px #232323;
    border-top: 1px solid rgb(238, 170, 44);
    border-bottom: 1px solid rgb(238, 170, 44);
   
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.btn-return{
    padding: 10px;
    border: 2px solid rgb(238, 170, 44);
    position: absolute;
    left: -16px;
    top: -5px;
    
    
}

input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}

h3{
    border: 1px solid;
    padding: 25px;
    margin-top: -20px;
    border-radius: 12px;
    border: none;
    border-top: 3px solid rgb(238, 170, 44);
    letter-spacing: 6px;
    
}*/


.background{
    
    padding: 10px;
    height: 190vh;
}

.soldeBoard{
    text-align: left;
    padding: 10px;
}

.diplaySolde{
    color: aliceblue;
    border-top: 1px solid white;
    letter-spacing: 2px;
    font-size: x-large;
    
    

}






