
/* Style page accueil*/

.home{
    
    position: absolute;
    top: 10%;
    padding: 50px;
    width: 600px;
    border-radius: 12px;
    -webkit-box-shadow: 9px 8px 15px 5px #333131; 
    box-shadow: 9px 8px 15px 5px #232323;
    border-top: 2px solid rgb(238, 170, 44);
    border-bottom: 1px solid rgb(238, 170, 44);
    
}

h1{
    color: white;
    font-family: 'Contrail One', cursive;
    font-size: 40px;
    
    
}

h1::first-letter {
    color: rgb(238, 170, 44);
    
  }

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.article{
    
    padding: 60px;
}

button{
    border-radius: 25px;
    padding: 15px;
}

.btn-compte{
    border: 2px solid rgb(36, 36, 175);
    color:rgb(36, 36, 175);
    background-color: white;
    width: 260px;
    font: bold;
    cursor: pointer;
}

.btn-compte:hover{
    border: 2px solid rgb(238, 170, 44);
    transition: 1s;
}

.btn-solde{
    border: 2px solid rgb(36, 36, 175);
    color: blue;
    background-color: rgb(238, 170, 44);
    width: 200px;
    font-weight: bolder;
    
}


h4{
    color: white;
    margin-top: -50px;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 20px;
}






