
.formOpe{
    width: 550px;
    height: 400px;
    position: absolute;
    left : 50%;
    top :30%;
    border: 1px solid white;
    border-top: 1px solid rgb(238, 170, 44);
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
    

}


.labels{
    color : white;
    
}

 .formOpe input{
    
    margin-top: 15px;
    padding: 6px;
    width: 400px;
    height: 30px;
    border: 2px solid rgb(62, 62, 143);
    border-radius: 8px;
}

input:focus{
    outline: none; 
      
}

select:focus{
    outline: none;
}

 .formOpe .btn-form{
    width: 402px;
    border: 1px solid;
    background-color: rgb(238, 170, 44);
    color: rgb(20, 20, 146);
    font-weight:bolder;
    letter-spacing: 3px;
   
}

 .formOpe .btn-form:hover{
    border: 2px solid rgb(20, 20, 146);
    background-color: rgb(236, 183, 83);
}


.formOpe select{
    margin-top: 15px;
    padding: 6px;
    width: 412px;
    height: 47px;
    border: 2px solid rgb(62, 62, 143);
    border-radius: 8px;
    margin-bottom: 40px;
}


::placeholder{
    font-size: 15px;
    color:rgb(20, 20, 146);
    text-align: center;

}



