.soldform{
    padding: 10px;
}

.soldform input{
    padding: 5px;
    margin: 6px;
    border-top: none;
    border-left: none;
    background-color: transparent;
    border-right: none;
    border-bottom: 1px solid rgb(20, 20, 146);
}

.submit {
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(238, 170, 44);
    background-color: transparent;
    border-top: 1px solid rgb(20, 20, 146);
}

.submit:hover{
    background-color: rgb(238, 170, 44);
    border-bottom:  2px solid rgb(20, 20, 146);
    transition: 1s;
}